body {
    margin: 0;
    padding: 0;
  }

  #top {
    background-color: #3498db;
    height: 100px;
    text-align: center;
    color: white;
    padding-top: 20px;
    display: flex;
    white-space: nowrap;
  }

  #bottom {
    display: flex;
    position: fixed;
    top: 120px; 
    bottom: 0;
    left: 0;
    right: 0;
  }

  #bottom-left {
    background-color: #adc5b7;
    flex: 1; /* 占据剩余空间 */
    padding: 20px;
    box-sizing: border-box;
  }

  #bottom-right {
    
    flex: 6; /* 占据底部区块的5倍宽度 */
    padding: 20px;
    box-sizing: border-box;
  }
  .mdl-navigation {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}
  .mdl-navigation_link {
    color: #131322;
    text-decoration: none;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    opacity: .87;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* 按鈕邊框顏色 */
  color: #3498db; /* 按鈕文字顏色 */
  border-radius: 5px; /* 圓角 */
  transition: background-color 0.3s ease;
}
/* 按鈕的懸停狀態樣式 */
.custom-button:hover {
  background-color: #3498db; /* 懸停時的背景顏色 */
  color: #fff; /* 懸停時的文字顏色 */
}

