.board {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 3px #fff;
  border-radius: 5px;
}

.board__header {
  display: flex;
  justify-content: space-between;
}

.board__btn {
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #c2dffb;
  color: #583c63;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.board__btn-block h4 {
  margin: 10px 0;
  text-align: right;
  color: #583c63;
}

.board__tittle {
  margin-bottom: 24px;
}

.board__nickname {
  margin-bottom: 10px; 
}

.board__nickname input {
  border: 1px solid #c2dffb;
  padding: 5px;
}

.board__new-comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2dffb;
}

.board__submit-btn{
  padding: 8px 16px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #c2dffb;
  color: #583c63;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
}

.board__hr {
  margin: 20px auto;
  height: 1px;
  background: #e8e8ee;
  min-width: 95%;
}