* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid gold; */
}
#lat{
  max-width: 80px;
}
#long{
  max-width: 80px;

}
.options-container label {
  width: 100%;
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
}

.options-container input {
  max-width: 10px;
}

.options-container{
  /* border: 1px; */
}

body {
  height: 100%;
  background: #f7f7f7;
  font-family: Questrial, "微軟正黑體";
}

#myForm {
  /* width: 100%; */
  max-width: 300px;
  width: 40%;
  /* display: flex; */
}

form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

